@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title"></hgroup>
        </div>
    </section>
}
<h1>Welcome to WebGL!</h1>
<div id="container" style="width:95%; height:80%; position:relative;"></div>
<div id="canvas3d" style="width:95%; height:6%; text-align:center; position:relative;"></div>

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<style type="text/css">
    div#canvas-frame {
        border: none;
        cursor: move;
        width: 1400px;
        height: 600px;
        background-color: #EEEEEE;
    }
</style>

<script>
    $(document).ready(function(){
        initThree();
        initCamera();
        initScene();
        initLight();
        initObject();
        threeStart();
    });
    function initThree() {
        width = document.getElementById('canvas3d').clientWidth;
        height = document.getElementById('canvas3d').clientHeight;
        renderer = new THREE.WebGLRenderer({ antialias: true });
        renderer.setSize(width, height);
        document.getElementById('canvas3d').appendChild(renderer.domElement);
        renderer.setClearColorHex(0xFFFFFF, 1.0);
    }
    var camera;
    function initCamera() {
        camera = new THREE.PerspectiveCamera(45, width / height, 1, 10000);
        camera.position.x = 100;
        camera.position.y = 20;
        camera.position.z = 50;
        camera.up.x = 0;
        camera.up.y = 0;
        camera.up.z = 1;
        camera.lookAt({
            x: 0,
            y: 0,
            z: 0
        });
    }
    var scene;
    function initScene() {
        scene = new THREE.Scene();
    }
    var light;
    function initLight() {
        light = new THREE.DirectionalLight(0xFF0000, 1.0, 0);
        light.position.set(100, 100, 200);
        scene.add(light);
    }
    var cube;
    function initObject() {
        cube = new THREE.Mesh(new THREE.CubeGeometry(50, 50, 50), //形状の設定
        new THREE.MeshLambertMaterial({
            color: 0xff0000
        }) //材質の設定
        );
        scene.add(cube);
        cube.position.set(0, 0, 0);
    }
    function threeStart() {
        initThree();
        initCamera();
        initScene();
        initLight();
        initObject();
        renderer.clear();
        renderer.render(scene, camera);
    }
</script>
